<main>
    <div class="container center-align">
        <div class="row">
            <br />
            <br />
            <br />
            <a href="https://www.w3schools.com/" target="_blank"><img class="col s12 m8 offset-m2" src="/img/w3-swiper.png" alt=""></a>
        </div>
        <br />
        <br />
        <div class="col s12 m6">
            <table class="responsive-table centered highlight z-depth-1 blue lighten-5" id="w3-table">
                <thead>
                    <th>Section</th>
                    <th>Lesson</th>
                    <th>Open</th>
                    <th>Notes</th>
                </thead>
                <tbody>
                    {{#each w3}}
                        <tr>
                            <td>{{section}}</td>
                            <td><a href="{{link}}" target="_blank">{{title}}</a></td>
                            <td><a href="{{link}}" target="_blank"><button class="btn blue lighten-2">Open</button></a></td>
                            <td data-id="{{_id}}" class="notes-btn modal-trigger" href="#notes"><button class="btn">Notes</button></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</main>
{{> Modal/notes-block}}
<script src="/js/w3.js"></script>